$rem: 1rem/10;  //1rem == 10px
$bgcolor: #9c9c9c;
//字体
$font-size-sm: 12 * $rem;
$font-size-base: 14 * $rem;
$font-size-lg: 16 * $rem;
$font-size-xl: 18 * $rem;
$font-size-2xl: 20 * $rem;
$font-size-3xl: 24 * $rem;
$font-size-4xl: 28 * $rem;
$font-size-5xl: 30 * $rem;
