.page{
    background: white;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position:absolute;
    top: 0;
}

.header {
    
}

.container{
    flex: 1;
    overflow: scroll;
    position: relative;
    flex-direction: column;
    display: flex;
}